// 1200px-1310px
@media screen and (max-width: 1310px) {
    .header {
        .wraper {
            .header__img {
                margin: 0;
                width: 620px;   
            }
        }
    }
}

// 992px-1206px
@media screen and (max-width: 1206px) {
    .container {
        max-width: 960px;
    }
    .header {
        .wraper {
            flex-direction: column;
            align-items: start;
            .offer {
                width: 100%;
                margin: 20px 0;
                .offer__text {
                    width: 66%;
                }
            }
            .header__img {
                margin: 0;
            }
        }
    }
}

// 768px-992px
@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header {
        .wraper {
            .header__img {
              width: 80%;  
            }
        }
    }
}

// 576px-768px
@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header {
        padding-bottom: 0;
        .wraper {
            .offer {
                .offer__title {
                    width: 85%;
                }
            }
        }
    }
    .section-title {
        padding: 55px 0 0 0;
    }
    .waiting {
        padding-bottom: 30px;
        .waiting-columns {
            flex-direction: column;
            align-items: center;
            .waiting__columns__item {
                margin-bottom: 35px;
                .column__title {
                    margin: 20px 0 0 0;
                }
            }
        }
    }
}

// 0-576px
@media screen and (max-width: 576px) {
    .container {
        max-width: 90%;
    }
    .header {
        padding-bottom: 0;
        .wraper {
            .offer {
                .offer__title {
                    width: 100%;
                }
                .offer__text {
                    width: 100%;
                }
            }
        }
    }
    .waiting {
        padding: 0 0 40px 0;
    }
}
